*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#e5e5e5;
}

/* HEADER */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    background:#cfe3d8;
}

.logo{
    font-size:28px;
    font-weight:bold;
}

nav a{
    margin-left:25px;
    text-decoration:none;
    font-weight:bold;
    color:black;
}


/* TOP SECTION */

.top-section{
    display:grid;
    grid-template-columns: 2fr 1fr;
    gap:20px;
    padding:30px 40px;
}


/* QUIZ CARD */

.quiz-card{
    height:250px;
    border-radius:20px;
    background-image:url("SourceImg/Quiz.jpg");
    background-size:cover;
    background-position:center;
    position:relative;
}

.quiz-card h2{
    position:absolute;
    top:15px;
    left:20px;
    color:white;
    font-size:32px;
}


/* SIDE BUTTONS */

.side-buttons{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.btn{
    height:70px;
    border-radius:30px;
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    padding-left:25px;
}

.btn h2{
    color:white;
}


/* INDIVIDUAL BUTTON IMAGES */

.story{
    background-image:url("SourceImg/Story.jpg");
}

.characters{
    background-image:url("SourceImg/Characters.jpg");
}

.weapons{
    background-image:url("SourceImg/Weapons.jpg");
}


/* GALLERY */

.gallery{
    margin:20px 40px;
    height:220px;
    border-radius:20px;
    background-image:url("SourceImg/Gallery.jpg");
    background-size:cover;
    background-position:center;
    position:relative;
}

.gallery h2{
    position:absolute;
    top:15px;
    left:20px;
    color:white;
    font-size:32px;
}